html, body {
	color: darkviolet;
	text-align: left;
	background: url(mrbean.jpg);
	height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: futura;
	padding-top:1em;
}

form {
	display: inline-block;
}