        

html, body {
	color: red;
	text-align:left;
	  background: url(https://images.alphacoders.com/743/74353.jpg) no-repeat right top !important;
  background-size: cover !important;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

h1 {
	text-align:center;
	  letter-spacing: 0.12em;
}